[submodule "hello_foundry/lib/forge-std"]
	path = hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "token_sale/lib/forge-std"]
	path = token_sale/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
